<app-navbar></app-navbar>

<br>
<div class="home">
  <div class="justificado">
    <div class="container">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-5 col-lg-9">
          <div class="imgFood">
            <button class="btn1" routerLink="comida">Comida</button>
          </div>
        </div>
        <div class="d-none d-md-flex col-md-5 col-lg-9">
          <div class="col-6 margen">
            <div class="imgAnime">
              <button class="btn2" routerLink="anime">Anime</button>
            </div>
          </div>
          <div class="col-6 margen">
            <div class="imgCarros">
              <button class="btn3" routerLink="carros">Carros</button>
            </div>
          </div>
        </div>
        <div class="d-none d-md-flex col-md-5 col-lg-9">
          <div class="col-4 margen">
            <div class="imgAudio">
              <button class="btn4" routerLink="audio">Audio y sonidos</button>
            </div>
          </div>
          <div class="col-4 margen">
            <div class="imgSegSoc">
              <button class="btn5" routerLink="programa">Programar</button>
            </div>
          </div>
          <div class="col-4 margen">
            <div class="imgMillanti">
              <button class="btn6" routerLink="Video-juegos"> Video Juegos </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

  </div>
  <div class="card border-dark  mb-3">
    <div class="card-header rules" >REGLAS DE CONVIVENCIA</div>
    <div class="card-body text-dark">
      <h5 class="card-title">El usuario debe tener en cuenta lo siguiente:</h5>
      <p class="card-text">  
          <li>Se prohibe toda falta de respeto y/o agresion hacia otros usuarios.</li>
          <li>Respetar la opinión del otro al momento de comentar un tema en común.</li>
          <li>El tema debe ir acorde a la información del Foro  (otro contenido será eliminado).</li>
          <li>El inclumplimiento de las reglas anteriormente señaladas será causal de Baneado.</li>        
      </p>
    </div>   
  </div>

  <br>
  
  <div class="accordion" id="accordionExample">
    <div class="card h">
      <div class="card-header c1" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left bot" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Qué es KIDAC?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show c2" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          El principal objetivo de KIDAC, es que sus usuarios tengan la facilidad de crear su propia comunidad, que vaya de la mano con sus preferencias personales.  Podrán crear foros con temáticas personalizadas y donde podrán debatir en los comentarios. Una comunidad para toda la familia!       </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header c1" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed bot" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Equipo KIDAC
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body c2">
          <p>El equipo de KIDAC  fue creado el año 2020, bajo la participacion en un curso de Programación "Programando tu futuro", bajo la alianza creada entre FORGE , Universidad de Chile  y Accenture. Como proyecto final hemos creado esta página web para deosrar las habilidades adquiridas durante el curso.
          </p>
          <p>Entre los creadores que conforman el equipo, se encuentran Katary Yañez, Gino González, Christian Ormeño, Daniela Albornoz, Camila Aguilar y Millanti Orozco; de ahí el origen del acrónimo K.I.D.A.C.</p>
        </div>
      </div>
    </div>
    <div class="card h">
      <div class="card-header c1" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed bot" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Misión y Visión
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body c2">
          <p>MISIÓN: Como equipo Kidac hicimos una investigación minuciosa para conocer al público al que va dirigido y el objetivo de nuestro foro. 
          </p>
          <p>VISIÓN: Principalmente nuestro foro es un medio de comunicación en el que puedan compartir algún tema de interés presente en esta plataforma, donde puedan comentar y saber lo que opinan el público en general.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>  